$color1: #AFA89E;
$color2: #948884;
$color3: #0D1B2A;
$color4: #1B263B;
$color5: #2C2628;





html {
  background-color: $color5;
}

footer {
  background-color: $color5;
}


body {
  padding-bottom: 2em;
  background-color: $color5 !important;
}

header {
  @media screen and (max-width: 480px) {
      padding-top: 50px;
    }
  padding: 1em;
  background-color: $color5;
}
